<%= turbo_frame_tag "cart" do %>
  <div class="m-3">
    <% if @cart.orderables.count > 0 %>
      <%= render "cart/orderables" %>
    <% else %>
      <div class="m-lg-3 p-3 border shadow white-bkg">
        <p>Nenhum produto em seu carrinho.</p>
        <%= link_to "Voltar à página inicial", root_path, class:"btn btn-outline-primary btn-sm" %>
      </div>
    <% end %>
  </div>
<% end %>