<%= turbo_frame_tag "cart" do %>
  <div class="m-3">
    <% if @cart.orderables.count > 0 %>
      <%= render "cart/orderables" %>
    <% else %>
      <p>Nenhum produto.</p>
    <% end %>
  </div>
<% end %>