<div class="container">
  <div class="m-lg-3">
    <div class="border shadow" style="background-color:white;">
      <div class="m-lg-3">
        <H3><%= @product.title %></H3>
        <%= @product.description %>
        <div class="show-value">
          <%= @product.value %>
        </div>
      </div>
    </div>
  </div>
</div>